
:root{
    --title-color: #312f2f;
    --text-color: #999999;
    --second-color: #70c8d4;
    --white-color: #fff;
    /*------Font--------*/
    --font-mon: "Montserrat", sans-serif;
    --font-open: "Open Sans", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    /*------Typography--------*/
    --big-ofnt-size: 68px;
    --fs-1: 48px;
    --fs-2: 41px;
    --fs-3: 34px;
    --fs-4: 30px;
    --fs-5: 22px;
    --fs-6: 20px;
    --fs-7: 19px;
    --fs-8: 18px;
    --fs-9: 16px;
    --fs-10: 15px;
    --fs-11: 14px;
    --small-font-size: 12px;
    /*------Typography--------*/
    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;

    /*------Shadow--------*/
    --shadow: 2px 0 50px hsla(0,0%,0%,.2);
    /*------Spacing--------*/
    --section-padding: 80px;

    /*------Transition--------*/
    --transition: .25 ease;
    --cubic-in: cubic-bezier(.51,.03,.64,.28);
    --cubic-in: cubic-bezier(.33,.85,.04,.96);



}


    /*------Base--------*/

    *::before,
    *:after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    img{
        max-width: 100%;
        height: auto;
    }


    li{
        list-style: none;
    }

    a,
    img,
    input,
    span,
    button,
    i{
        display: block;
    }

    input,
    button{
        font: inherit;
    }

    input{
        width: 100%;
    }

    button,
    li{
        cursor: pointer;
    }

    textarea{
        resize: none;
    }
    html{
        scroll-behavior: smooth;
        font-family: sans-serif;
        line-height: 1.15;
    }

    body{
        font-family: var(--font-roboto);
        font-size: 1rem;
        line-height: 1.5;
        background-color: var(--white-color);
        color: var(--text-color);
    }


/*------Reusable--------*/

.container{
    padding-inline: 15px;
    margin-inline: auto;
}
.section{
    padding-block: var(--section-padding);
}

h1,
h2,h3,h4,h5{
    font-family: var(--font-mon);
    color: (--title-color);
    font-weight: var(--fw-5);
    list-style: 1.1;
    margin-bottom: .5rem;
}
h1{
    line-height: 1.1;
}
h3{
    font-size: var(--fs-4);
}
h4{
    font-size: var(--fs-4);
    margin: 22px 0;
}

.section-title{
    font-size: var(--big-ofnt-size);
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: var(--fw-6);
}