{%load static%}


<html>
    <head>
    <title> My Learning Journey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}">

</head>
    <body>
        <header class="header">
            <div class="container">
            <nav class="nav_menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </header>
        <section class="section hero container">
            <div class="content">
                <h2 class="section-title">Hi! Im dunbar</h2>
                <p class="section-subtitle"></p>
            </div>
        </section>
    </body>
</html>