{%load static%}


<html>
    <head>
    <title> My Learning Journey</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    <body>
        <header class="header">
            <div class="container">
            <nav class="nav_menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </header>
        <section class="section hero container">
            <div class="content">
                <h2 class="section-title">Hi! Im dunbar</h2>
                <p class="section-subtitle">A life long learner and inspiring fullstack engineer</p>
            </div>
        </section>

        <section class="filter-grid-portfolio">
            <div class="container">
                <ul class="filter-list">
                    <li class="filter_item" data-filter="">All<li>
                        <li class="filter_item" data-filter=".clients">Clients<li>
                      <li class="filter_item" data-filter=".project">Projects<li>
                </ul>
            </div>
        </section>
        <section class="grid-portfolio">
            <div class="container">
                <div class="grid-gallery">
                    {% for job in jobs.all%}
                    {{ job.summary}}
                    {% endfor%}
          
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="footer-box">
                    <p>My Portfolio</p>
                </div>
                <div class="footer-box">
                    <h4>Copy Right</h4>
                    <p>2023 &copy; All Rights Reserved</p>
                </div>
                <div class="footer-box">
                    <h4>Contact</h4>
                    <p class="email">thejayadad@gmail.com</p>
                </div>
                <div class="footer-box">
                    <ul class="social-list">
                        <li ><i class="fa-brands fa-youtube"></i></li>
                        <li ><i class="fa-brands fa-instagram"></i></li>
                        <li ><i class="fa-brands fa-tiktok"></i></li>
                        <li ><i class="fa-brands fa-facebook"></i></li>
                        <li ><i class="fa-brands fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>