{%load static%}


<html>
    <head>
    <title> My Learning Journey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}">

</head>
    <body>
        <header class="header">
            <div class="container">
            <nav class="nav_menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </header>
        <section class="section hero container">
            <div class="content">
                <h2 class="section-title">Hi! Im dunbar</h2>
                <p class="section-subtitle">A life long learner and inspiring fullstack engineer</p>
            </div>
        </section>

        <section class="filter-grid-portfolio">
            <div class="container">
                <ul class="filter-list">
                    <li class="filter_item" data-filter="">All<li>
                        <li class="filter_item" data-filter=".clients">Clients<li>
                      <li class="filter_item" data-filter=".project">Projects<li>
                </ul>
            </div>
        </section>
        <section class="grid-portfolio">
            <div class="container">
                <div class="grid-gallery">
                    <div class="grid-item clients">
                        <img alt="pic" src="https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                        <div class="grid-item-rollover">
                            <a href="#">
                                <div>
                                    <div class="titleinfo">Title Info</div>
                                    <div class="tagsinfo">Tags Info</div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item project">
                            <img alt="pic" src="https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                            <div class="grid-item-rollover">
                                <a href="#">
                                    <div>
                                        <div class="titleinfo">Title Info</div>
                                        <div class="tagsinfo">Tags Info</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item project">
                                <img alt="pic" src="https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                                <div class="grid-item-rollover">
                                    <a href="#">
                                        <div>
                                            <div class="titleinfo">Title Info</div>
                                            <div class="tagsinfo">Tags Info</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item project">
                                    <img alt="pic" src="https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                                    <div class="grid-item-rollover">
                                        <a href="#">
                                            <div>
                                                <div class="titleinfo">Title Info</div>
                                                <div class="tagsinfo">Tags Info</div>
                                            </div>
                                        </a>
                                    </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>